venv/

# Media
/decorkz/app/media/
/decorkz/app/static/data/
/decor
/web

# scripts for prod server
server-scripts/
restart.sh
backups/

docker-compose.yml
aldeso/app/core/settings.py
decorkz/app/core/settings.py
decorkz/Dockerfile
aldeso/Dockerfile
aldeso/app/media/

# fix duplicate
backups/duplicate_remove/delete_duplicates.sh
decorkz/app/fixtures/
backups/duplicate_remove/dupe_groups.txt
backups/duplicate_remove/used_files.txt
decorkz/app/products/management/commands/fix_duplicates.py


# Django migrations
!**/migrations/
!**/migrations/*.py 