venv/

# Media
/decorkz/app/media/
/decorkz/app/static/data/
/decor
/web

docker-compose.yml
aldeso/app/core/settings.py
decorkz/app/core/settings.py
decorkz/Dockerfile


# Django migrations
!**/migrations/
!**/migrations/*.py 