{% extends "base.html" %}
{% block title %}{{ document.title }}{% endblock %}
{% block content %}

<!-- BEGIN navigations -->
<nav class="navigations container-default">
  <div class="[ hidden ] col-span-4 xl:flex">
    <button class="js-sidebar-open ps-[1rem] gap-4 flex items-center">
      <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H48V3H0V0Z" fill="black"/>
        <path d="M0 19H48V22H0V19Z" fill="black"/>
      </svg>
      <span class="2xl:text-2xl text-xl tracking-widest font-semibold text-black">MENU</span>
    </button>
  </div>

  <div class="xl:col-span-12 md:col-span-16 col-span-full flex items-center justify-between xl:justify-end border-x-[1px] border-gray-300">
    <button class="js-sidebar-open ps-[1.5rem] gap-4 flex xl:hidden items-center">
      <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H48V3H0V0Z" fill="black"/>
        <path d="M0 19H48V22H0V19Z" fill="black"/>
      </svg>
      <span class="[ hidden md:block ] 2xl:text-2xl text-xl tracking-widest font-semibold text-black">MENU</span>
    </button>

    <div class="flex items-center justify-between gap-3 w-1/3 sm:w-full">
      <button data-target=".search-modal" class="js-modal-open [ px-3 py-2.5 me-2 ] inline-flex md:hidden ] [ w-full ] [ gap-2 items-center ] cursor-pointer  focus-within:ring-4 focus-within:outline-hidden text-sm hover:bg-gray-300 text-black [ border-[1px] border-gray-300 ] focus-within:ring-gray-200 rounded-sm">
        <svg width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5236 8.68L14 12.2063L12.25 14L8.68437 10.521C7.78507 11.0806 6.74671 11.3765 5.6875 11.375C2.54625 11.375 0 8.82263 0 5.6875C0 2.54625 2.55238 0 5.6875 0C8.82875 0 11.375 2.55238 11.375 5.6875C11.3766 6.74498 11.0816 7.78172 10.5236 8.68ZM1.74738 5.6455C1.74738 7.8155 3.50962 9.583 5.68488 9.583C7.85488 9.583 9.62237 7.81988 9.62237 5.6455C9.62237 3.4755 7.85925 1.708 5.68488 1.708C3.51488 1.708 1.74738 3.47025 1.74738 5.6455Z" fill="#3947FF"/>
        </svg>
        <span class="[ w-[5rem] md:w-auto ] text-left font-bold tracking-wide uppercase">Поиск</span>
      </button>
    </div>
  </div>

  <div class="[ hidden md:flex ] col-span-8 xl:col-span-6 items-center justify-start border-r-[1px] border-gray-300">
    <button data-target=".search-modal" id="openSearchModal" class="js-modal-open [ mx-2 px-3.5 py-2.5 ] [ w-full ] [ gap-1.5 inline-flex items-center ] cursor-pointer focus-within:ring-4 focus-within:outline-hidden text-sm hover:bg-gray-300 text-black [ border-[1px] border-gray-300 ] focus-within:ring-gray-200 rounded-sm">
      <svg width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5236 8.68L14 12.2063L12.25 14L8.68437 10.521C7.78507 11.0806 6.74671 11.3765 5.6875 11.375C2.54625 11.375 0 8.82263 0 5.6875C0 2.54625 2.55238 0 5.6875 0C8.82875 0 11.375 2.55238 11.375 5.6875C11.3766 6.74498 11.0816 7.78172 10.5236 8.68ZM1.74738 5.6455C1.74738 7.8155 3.50962 9.583 5.68488 9.583C7.85488 9.583 9.62237 7.81988 9.62237 5.6455C9.62237 3.4755 7.85925 1.708 5.68488 1.708C3.51488 1.708 1.74738 3.47025 1.74738 5.6455Z" fill="#3947FF"/>
      </svg>
      <span class="font-bold tracking-wide uppercase">Поиск</span>
    </button>
  </div>
</nav>
<!-- END navigations -->

<div class="container-default">
  <div class="xl:col-start-5 xl:col-span-12 md:col-span-16 col-span-full [ border-x-[1px] border-gray-300 ] px-6">
    <h1 class="text-5xl font-bold pt-[5rem] pb-6">{{ document.title }}</h1>
    {{ document.content|safe }}
  </div>

  <div class="hidden md:block xl:col-span-6 md:col-span-8 [ border-b-[1px] border-r-[1px] border-gray-300 ]"></div>
</div>
{% endblock %}