{% extends "base.html" %}
{% block title %}{{ seo_title }}{% endblock %}
{% block description %}{{ seo_description }}{% endblock %}
{% block content %}

{% load static %}

<!-- BEGIN navigations -->
<nav class="navigations container-default">
    <div class="[ hidden ] col-span-4 xl:flex">
        <button class="js-sidebar-open ps-[1rem] gap-4 flex items-center">
            <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H48V3H0V0Z" fill="black"/>
                <path d="M0 19H48V22H0V19Z" fill="black"/>
            </svg>
            <span class="2xl:text-2xl text-xl tracking-widest font-semibold text-black">MENU</span>
        </button>
    </div>

    <div class="xl:col-span-12 md:col-span-16 col-span-full flex items-center justify-between xl:justify-end border-x-[1px] border-gray-300">
        <button class="js-sidebar-open ps-[1.5rem] gap-4 flex xl:hidden items-center">
            <svg width="48" height="22" viewBox="0 0 48 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H48V3H0V0Z" fill="black"/>
                <path d="M0 19H48V22H0V19Z" fill="black"/>
            </svg>
            <span class="[ hidden md:block ] 2xl:text-2xl text-xl tracking-widest font-semibold text-black">MENU</span>
        </button>

        <div class="flex items-center justify-between gap-3 w-1/3 sm:w-full">
            <button data-target=".search-modal" class="js-modal-open [ px-3 py-2.5 me-2 ] inline-flex md:hidden ] [ w-full ] [ gap-2 items-center ] cursor-pointer  focus-within:ring-4 focus-within:outline-hidden text-sm hover:bg-gray-300 text-black [ border-[1px] border-gray-300 ] focus-within:ring-gray-200 rounded-sm">
                <svg width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5236 8.68L14 12.2063L12.25 14L8.68437 10.521C7.78507 11.0806 6.74671 11.3765 5.6875 11.375C2.54625 11.375 0 8.82263 0 5.6875C0 2.54625 2.55238 0 5.6875 0C8.82875 0 11.375 2.55238 11.375 5.6875C11.3766 6.74498 11.0816 7.78172 10.5236 8.68ZM1.74738 5.6455C1.74738 7.8155 3.50962 9.583 5.68488 9.583C7.85488 9.583 9.62237 7.81988 9.62237 5.6455C9.62237 3.4755 7.85925 1.708 5.68488 1.708C3.51488 1.708 1.74738 3.47025 1.74738 5.6455Z" fill="#3947FF"/>
                </svg>
                <span class="[ w-[5rem] md:w-auto ] text-left font-bold tracking-wide uppercase">Поиск</span>
            </button>
        </div>
    </div>

    <div class="[ hidden md:flex ] col-span-8 xl:col-span-6 items-center justify-start">
        <button data-target=".search-modal" id="openSearchModal" class="js-modal-open [ mx-2 px-3.5 py-2.5 ] [ w-full ] [ gap-1.5 inline-flex items-center ] cursor-pointer focus-within:ring-4 focus-within:outline-hidden text-sm hover:bg-gray-300 text-black [ border-[1px] border-gray-300 ] focus-within:ring-gray-200 rounded-sm">
            <svg width="15" height="15" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5236 8.68L14 12.2063L12.25 14L8.68437 10.521C7.78507 11.0806 6.74671 11.3765 5.6875 11.375C2.54625 11.375 0 8.82263 0 5.6875C0 2.54625 2.55238 0 5.6875 0C8.82875 0 11.375 2.55238 11.375 5.6875C11.3766 6.74498 11.0816 7.78172 10.5236 8.68ZM1.74738 5.6455C1.74738 7.8155 3.50962 9.583 5.68488 9.583C7.85488 9.583 9.62237 7.81988 9.62237 5.6455C9.62237 3.4755 7.85925 1.708 5.68488 1.708C3.51488 1.708 1.74738 3.47025 1.74738 5.6455Z" fill="#3947FF"/>
            </svg>
            <span class="font-bold tracking-wide uppercase">Поиск</span>
        </button>
    </div>
</nav>
<!-- END navigations -->

<div>

<section class="container-default" >
    <div class="xl:col-start-5 xl:col-span-12 md:col-span-16 col-span-full [ border-x-[1px] border-gray-300 ]">
        {% if product.images.first %}
        <img src="{{ product.images.first.image.url }}" alt="{{ product.title }}" loading="lazy" class="w-full aspect-auto" title="{{ product.title }}">
        {% endif %}
    </div>

</section>

<section class="container-default [ border-y-[1px] border-gray-300 ]">
    <div class="xl:col-start-5 xl:col-span-12 md:col-span-16 col-span-full border-x-[1px] border-gray-300 ]">
        <h1 class="tracking-wide text-4xl font-bold px-6 py-6">{{ product.title }}</h1>
    </div>
</section>

<section x-show="item.description && item.description.trim() !== ''" class="container-default [ border-b-[1px] border-gray-300 ]">
    <div class="xl:col-start-5 xl:col-span-12 md:col-span-16 col-span-full border-x-[1px] border-gray-300 ]">
        <p class="text-md text-gray-500 px-6 py-6">{{ product.description|safe }}</p>
    </div>
</section>

<section class="container-default [ border-b-[1px] border-gray-300 ]">
    <div class="xl:col-start-5 xl:col-span-12 md:col-span-16 col-span-full border-x-[1px] border-gray-300 ]">
        <ul class=" flex flex-wrap">
            <li class="product-list">
                    <span class="uppercase tracking-wide text-sm font-bold">Цена за п.м</span>
                    <span class="text-gray-500 text-base">
                        <span class="price">{{ product.price|floatformat:0 }}</span>
                        <span>₸</span>
                    </span>
            </li>
            <li class="product-list">
                    <span class="uppercase tracking-wide text-sm font-bold">Категория</span>
                    <span class="text-gray-500 text-base">{{ product.category.title }}</span>
            </li>
            <li class="product-list">
                {% if sizes.height or sizes.width or sizes.length %}
                    <span class=" tracking-wide text-sm ">
                        <span class="uppercase font-bold">Размер</span>
                        <span class="font-bold">(ВхШхД)</span>
                    </span>
                    <span class="text-gray-500 text-base">
                        {{ sizes.height|default:"—" }} ×
                        {{ sizes.width|default:"—" }} ×
                        {{ sizes.length|default:"—" }} мм
                    </span>
                {% endif %}
            </li>

                {% if other_attributes %}
                {% for attr in other_attributes %}
                    <li class="product-list">
                        <span class="uppercase tracking-wide text-sm font-bold">{{ attr.name }}</span>
                        <span class="[ product-attr-value ] text-gray-500 text-base">{{ attr.value }}</span>
                    </li>
                {% endfor %}
                {% endif %}
        </ul>
    </div>
</section>

<section class="container-default [ border-b-[1px] border-gray-300 ]">
    <div class="xl:col-start-5 xl:col-span-12 md:col-span-16 col-span-full border-x-[1px] border-gray-300 ]">
        <h1 class="tracking-wide text-3xl font-bold px-6 pt-12 pb-6">
            Похожие товары
        </h1>
    </div>
</section>

<section class="container-default" x-data="product" x-show="related.length" x-cloak>
    <template x-for="(p, i) in related" :key="p.id">
        <article class="col-span-12 md:col-span-8 xl:col-span-4 border-gray-300 border-r-[1px]"
                 :class="i === 0 ? 'xl:col-start-5 border-x-[1px]' : ''">
            <a :href="`/product/${p.slug}/`" class="block">
                <div class="product-mini-image-container">
                    <img :src="p.images[0].preview_url" loading="lazy" class="product-mini-image" :alt="p.title" :title="p.title">
                </div>
                <div class="p-sm border-y-[1px] border-gray-300 relative md:h-[4.5rem] h-[6rem]">
                    <h2 class="py-6 px-4 md:py-3 text-sm font-bold uppercase" x-text="p.title"></h2>
                </div>
            </a>
        </article>
    </template>
</section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll('.product-attr-value').forEach(function (el) {
    // Проверим, есть ли в тексте экспонента
    const regex = /^-?\d+(\.\d+)?[eE][+-]?\d+$/;
    let txt = el.textContent.trim();

    if (regex.test(txt)) {
      let num = Number(txt);
      // Если целое — просто число, иначе с двумя знаками после запятой
      el.textContent = (Math.abs(num % 1) < 0.00001) ? String(num) : num.toFixed(2).replace(/\.?0+$/, '');
    }
  });
});

</script>

{% endblock %}