{% extends "base.html" %}
{% block title %}{{ og_title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}
{% block og_description %}{{ og_description }}{% endblock %}
{% block og_image %}{{ og_image }}{% endblock %}

{% block content %}
{% load static %}
<section class="grid grid-cols-10 pb-[4rem] px-4 gap-4" x-data="homeCategories()" x-init="init()">
  <div class="border-b-[1px] border-gray-300 col-span-full pt-[10rem]">
    <h1 class="text-4xl md:text-6xl font-medium pb-[1rem]">Категории</h1>
  </div>

    <template x-for="cat in categories" :key="cat.id">
        <article class="col-span-5 md:col-span-2">
            <a :href="`/catalog/${cat.slug}/`">
                <figure>
                    <img :src="cat.image_default" :alt="cat.title">
                    <figcaption class="py-3 flex gap-1 flex-col">
                        <div class="flex items-center justify-between">
                            <h2 class="[ flex flex-col gap-1 ]">
                                <span class="text-sm uppercase font-bold" x-text="cat.title"></span>
                            </h2>
                        </div>
                    </figcaption>
                </figure>
            </a>
        </article>
    </template>
</section>

{% endblock %}